<!-- Checkout the readme at the gmaps4rails repository for details -->
<!-- TODO: せっかくの秘密なのにページのソースを見たら丸出しやん。なんとかして -->
<% str = "\"//maps.google.com/maps/api/js?key=" + ENV['google_api_key'] + "\"" %>
<script src=<%= str.html_safe %>></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<!-- TODO: Bootstrap化 -->
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 34.696041,
        "lng": 135.732459,
        // Other stuff like "picture" can be added as well, but I think it's fine how it is now.
        // "infowindow": "JEC ホープチャペル Hope Chapel"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    // The station can be seen when the zoom is at 16 so I think this should be fine.
    handler.getMap().setZoom(16);
  });
</script>
