<h1>Hope Chapel Home Page</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!-- Have a big image here, maybe the Hope tree -->
<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Header for Hope Chapel</h1>
    </div>
  </div>
</header>

<!-- Have a big image of the members as the background? -->
<section class="bg-primary" id="about">
  <div class="container">
    <p>Mission statement, maybe a link to JEC Yao</p>
  </div>
</section>

<!-- Yoshidas on the left, intro on the right.
     Right below that the Dugans on the right, intro on the left. How's that? -->
<section class="bg-primary" id="introduction">
  <div class="container">
    <p>Picture of the Yoshidas and Dugans with an introduction</p>
  </div>
</section>
