/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "css/font-awesome";

body,
html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  background-color: #000;

  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

/* -------------------------------------------------------------- */




/* TODO: This is from the previous navbar.
 * Keep the style for references later */

/* Nav style */

#mainNav .navbar-brand {
  font-weight: 700; /* ? */
  text-transform: uppercase;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-default {
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-nav {
  list-style: none;
}

/* ulを縦の中央に調整する */
@media (min-width: 768px) {
  .navbar.navbar-default .navbar-nav > li > a {
    line-height: 3.5;
    color: #000;
  }
}

.nav-item {
  margin: 0px 7px;

  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none !important;
}

/* -------------------------------------------------------------- */





/* Home#Index Style */
/* TODO: Make classes when needed instead of stuff like .row */
/* TODO: home.scssに適切なものを移住すること */

.top_row {
  height: 10%;
  z-index: 100;
  font-size: large;
  position: absolute;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6);
}

.top_text {
  // ? This is empty
}

/* TODO: Change class name */
.favicon {
  min-height: 10%;
  text-align: left;
  z-index: 101;
  display: inline-block;
  position: absolute;
  filter: grayscale(100%);
}

/* What does hec stand for? */
.hectext {
  color: white !important;
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
  padding: 0 !important;
}

.bottom_row {
  height: auto;
  position: absolute;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6);
  bottom: 0;
}

.weltext {
  min-height: 10%;
  font-family: "Impact Header";
  text-align: center;
  color: #dc3b2c;
  z-index: 100;
  bottom: 10%;
}

.dropdown-menu {
  background-color: rgba(220, 220, 220, 0.6);
  text-decoration: none;
}

/* TODO: Make into class */
a {
  color: #dc3b2c;
}

/* TODO: commented out, so let's fix this when we can
a:link {
  color: rgb(72, 116, 151);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
*/

.bg {
  width: 100%;
}

.bg_container {
  height: 100px;
  max-width: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*
 * TODO: Ok for now, but kinda dangerous in the long run.
 * class or id needed
 */
.container-fluid, .row {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

ul, li {
  list-style-type: none;
}


#buffer {
  width: 100%;
  margin: 45px 0px;
}


/* From previous idea. Keep for reference */

header.masthead {
  padding-top: 20rem;
  padding-bottom: 40rem;
  background-image: url('hope_black.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background: cover;
  background-size: contain;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 60%;
  margin: auto;
}

#homeCarousel {
  background-color: #dfdfdf;
  padding-top: 40px;
  padding-bottom: 40px;
}

#homeCarousel > div > div > img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel-caption {
  visibility: hidden;
}

#homeCarousel > div > div > img:hover {
  opacity: 0.8;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

#homeVideoContainer {
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
}

#homeMap {
  background-color: #dfdfdf;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* -------------------------------------------------------------- */





/* Message#Index Style */

messageIndex {
  margin: 0px auto;
}

/* https://stackoverflow.com/questions/5590214/make-child-div-stretch-across-width-of-page */
#videoHeader {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-bottom: 70px;
}

#vids {
  background-color: #dfdfdf;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.video_link {
  text-decoration: none;
}

.video_div {
  word-break: break-all; /* 長い文字列に対応できた */
}


/* TODO: make sure this is Message#Index specific */
.panel {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.panel:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: row;
}

.panel-body {
  margin: 0px auto;
  width: 100%;
}

a {
  display: block;
  margin: 0px auto;
}

/*.video_details, .video_date {
  text-align: left;
}*/
