/*
 *
 * TODO: Not sure if this is the best way to require
 * Look at a brand new rails app just in case
 * require messages
 *= require home
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "css/font-awesome";

body, html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;

  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
