/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "css/font-awesome";

body,
html {
  width: 100%;
  height: 100%;
  background-color: #000;

  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

/* -------------------------------------------------------------- */





/* Nav style */

#mainNav .navbar-brand {
  font-weight: 700; /* ? */
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-default {
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-nav {
  list-style: none;
}

/* ulを縦の中央に調整する */
@media (min-width: 768px) {
  .navbar.navbar-default .navbar-nav > li > a {
    line-height: 3.5;
    color: #FFF;
  }
}

.nav-item {
  margin: 0px 7px;

  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none !important;
}

/* -------------------------------------------------------------- */





/* Home#Index Style */

#buffer {
  width: 100%;
  margin: 45px 0px;
}

// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('hope_black.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  /*@include background-cover;*/
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  }
}
