// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Colors */
$soft_red: #dc3b2c;
$orange_yellow: #e5b000;

/*-----------------------------------------------*/

/* Home#Index Style */
.bg {
  width: 100%;
}

#bg_container {
  position: absolute;
  height: 100px;
  max-width: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#home_nav {
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6) !important;
  border: none;
  border-radius: 0;
  z-index: 103;
}

.top_row {
  height: 10%;
  top: 0%;
  z-index: 100;
  font-size: large;
  position: absolute;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6);
}

#brand_img {
  text-align: left;
  margin-left: 20px;
  z-index: 101;
  height: 100%;
  display: inline-block;
  position: relative;
  filter: grayscale(100%);
}

#banner_text {
  color: white !important;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px !important;
  padding: 0 !important;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom_row {
  /*height: auto;
  bottom: 0;
  position: absolute;*/
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6);
}

.welcome_text {
  min-height: 10%;
  font-family: "Impact Header";
  text-align: center;
  color: $soft_red;
  z-index: 100;
  bottom: 0%;
}

.dropdown-menu {
  background-color: rgba(220, 220, 220, 0.6);
  text-decoration: none;
}

.nav_link > h1 {
  color: $soft_red;
}

.dropup_link > h1 {
  color: $orange_yellow;
}

.nav_link:visited, .drop_link:visited {
	text-decoration: none;
}

/* TODO: commented out, so let's fix this when we can
a:link {
  color: rgb(72, 116, 151);
  text-decoration: none;
}
*/

/*
 * TODO: Ok for now, but kinda dangerous in the long run.
 * class or id needed
 */
.container-fluid, .row {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* TODO: Same with above comment */
ul, li {
  list-style-type: none;
}

.carousel-inner > .item > img {
  width: 100%;
  background-size: cover;
}

#homeVideoContainer, #homeMap, .footer {
  position: relative;
  top: 100%;
}

/*
header.masthead {
  padding-top: 20rem;
  padding-bottom: 40rem;
  background-image: url('hope_black.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background: cover;
  background-size: contain;
}
*/
