// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customDIV{
	margin: 10px;
	min-height: 50px;
	background-color: silver;
	text-align: center;
	font-size: large;
	padding: 10px;
}